// :local(.headline) {
//   color: red;
// }

:local(.div) {
  width: 600px;
  margin: 30px;
}

// :local(h2) {
//   font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
//   margin: 0;
//   padding: 0;
// }

:local(.unordered) {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:local(.items) {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border: none;
  }

  &.link{
    text-decoration: none;
    color: #000;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 200px;
  }

  &.link:hover {
    font-size: 30px;
    background: #f6f6f6;
  }
}

// li:last-child {
//   border: none;
// }

// li a {
//   text-decoration: none;
//   color: #000;
//
//   -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
//   -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
//   -o-transition: font-size 0.3s ease, background-color 0.3s ease;
//   -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
//   transition: font-size 0.3s ease, background-color 0.3s ease;
//   display: block;
//   width: 200px;
// }

// li a:hover {
//   font-size: 30px;
//   background: #f6f6f6;
// }
