$height: 220px;
:local(.tile) {
  height: 100px;
  width: 100px;
}

:local(.list) {
  list-style: none;
}

:local(.image) {
  height: $height;
  width: 200px;
  border: 1px solid grey;
  font-size: 0.7em;
  margin: 20px;
  padding: 10px;
  box-shadow:3px 3px 8px black;

}

:local(.div){
    width:80%;
    border:1px solid grey;
    min-height: $height * 1.2;
    height:auto;
    padding:8px;
    display: flex;
    flex-flow: row wrap;
}

:local(.tile){
  display:block;
  margin:0 auto;
}
