
:local(.tile) {
  height: 100px;
  width: 100px;
}

:local(.list) {
  list-style: none;
}

// :local(.div){
//     width:160px;
//     border:1px solid grey;
//     min-height:150px;
//     height:auto;
//     vertical-align:middle;
//     padding:8px;
//     float:left
// }
// 
// :local(.tile){
//   display:block;
//   margin:0 auto;
// }
