<section>
  <nav>
    Pick an album:&nbsp;
    <select ng-model="viewSelector.albumId" ng-change="viewSelector.getImages(viewSelector.albumId)">
      <option ng-if="!viewSelector.albumId" value="" ng-selected="selected">-- Select an album --</option>
      <option ng-repeat="album in viewSelector.albums" value="{{album._id}}">{{album.title}}</option>
    </select>
    Choose your display:&nbsp;
    <input id="list" type="radio" ng-model="viewSelector.view" value="list">
    <label for="list">List</label>
    <input id="tile" type="radio" ng-model="viewSelector.view" value="tile">
    <label for="tile">Tile</label>
    <input id="full" type="radio" ng-model="viewSelector.view" value="full">
    <label for="full">Slideshow</label>
  </nav>

  <list ng-if="(viewSelector.view === 'list')" data="viewSelector.data"></list>
  <tile ng-if="(viewSelector.view === 'tile')" data="viewSelector.data"></tile>
  <full ng-if="(viewSelector.view === 'full')" data="viewSelector.data"></full>
  <hr>
  <new-image add="viewSelector.addImage(image)"></new-image>
  <new-album add="viewSelector.addAlbum(album)"></new-album>
</section>
